<nav class="navbar">
    <ul class="container flex">
        <li class="nav_active"><a href="#mark_kv">HOME</a></li>
        <li><a href="#mark_about">ABOUT</a></li>
        <li><a href="#mark_work">WORKS</a></li>
        <li><a href="#mark_contact">CONTACT</a></li>
    </ul>
</nav>